*{
  margin: 0 !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}
.course-body{
  width: 70%;
  background-color: #343A40;
  margin: 15px;
}


